*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: rgb(225, 225, 225);
}

.center{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 2%;
}

header{
	background: #6c4e7b;
	padding: 0 2%;
}

.clear{clear: both;}

.logo{
	float: left;
}

.logo a{
	font-size: 23px;
	color: white;
	text-decoration: none;
}

.menu{
	float: right;
}

.menu a{
	color: white;
	text-decoration: none;
	margin: 0 15px;
}

.main > .center{
	background: white;
	padding: 30px;
	width: 100%;
}

form{
	margin: 0 auto;
	max-width: 600px;
}

select{
	width: 100%;
	height: 40px;
	max-width: 600px;
}

input[type=text]{
	width: 100%;
	height: 40px;
	margin-top: 15px;
	max-width: 600px;
}

input[type=submit]{
	background: gray;
	color: white;
	cursor: pointer;
	width: 140px;
	height: 60px;
	border: 0;
	margin-top: 15px;
}